@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root
{
    --icon-color:#952E15;
    --text-color:#fff;
}
html
{
    font-family: 'Roboto', sans-serif;
    background-color:whitesmoke;
    scroll-behavior:smooth;
    overflow-x: hidden;
}
body
{
    margin:0;
    padding:0;
    box-sizing:border-box;
    background-image:url('../images/location.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
}
header
{
    position: relative;
    /* background-color:black; */
    /* margin-bottom:3rem; */
    /* background-color:#ccc; */
}
nav
{
    float:right;
    margin-top:3rem;
    padding-top:2rem;
}
nav ul
{
    list-style:none;
    padding:0;
}
nav ul li
{
    display:inline;
}
nav ul li a
{
    text-decoration:none;
    text-transform:uppercase;
    color:white;
    font-size:1.3rem;
    padding-right:1.3rem;
    padding-left:1.3rem;
    transition-property:color;
    transition-duration:0.3s;
    transition-timing-function:ease-in-out;
}
nav ul li a:hover
{
    color:crimson;
}
nav ul li.active
{
    text-decoration:underline;
}
#logo
{
    width:150px;
    height:150px;
    /* margin:2rem; */
    margin-top:0.3rem;
    margin-left:3rem;
    margin-bottom:0.3rem;
    transition-property:transform;
    transition-duration:0.6s;
    transition-timing-function: ease-in-out;
    -webkit-transition-property:transform;
    -webkit-transition-duration:0.6s;
    -webkit-transition-timing-function: ease-in-out;
}
#logo:hover
{
    transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
}
#button
{
    text-align:center;
    padding:0.4rem 0.6rem;
    background-color:var(--icon-color);
    color:white;
    text-transform:uppercase;
    letter-spacing:0.2em;
    border:1px solid crimson;
    font-weight:normal;
    position: absolute;
    top:15%;
    right:3%;
    margin-bottom:1.5rem;
    cursor:pointer;
    transition-property:color,background-color;
    transition-duration:0.6s;
    outline:none;
}
#button:hover
{
    color:white;
    background-color:red;
}
#loader
{
    position: absolute;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    display:none;
    align-items:center;
    justify-content:center;
    z-index:100;
    background-color:teal;
}
.locations
{
    display:grid;
    grid-template-columns:repeat(5,1fr);
    color:white;
    height:100vh;
    width:100vw;
    position: relative;
    /* z-index:10; */
    /* overflow:auto; */
}
.location
{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    margin-left:2rem;
    position: relative;
    /* border-right:0.3rem solid white; */
    /* text-align:center; */
}
.location h2
{
    position: absolute;
    top:15%;
    text-transform:uppercase;
    font-weight:bold;
    font-size:1.7rem;
    letter-spacing:0.1em;
}
.location h3
{
    position: absolute;
    top:20%;
    text-transform:uppercase;
    font-weight:normal;
    font-size:1.6rem;
    letter-spacing:0.1em;
}
.branch-details
{
    position: absolute;
    bottom:5%;
    text-transform:uppercase;
    width:fit-content;
    font-size:1.1rem;
    font-weight:bold;
    line-height:2.5rem;
}
.branch-details p i
{
    margin-right:0.8rem;
}
footer
{
    padding:2rem;
    overflow: auto;
    background-color:black;
    position:relative;
}
footer p
{
    color:white;
    float:left;
    font-size:1.1rem;
}
footer div
{
    color:var(--text-color);
    float:right;
}
footer div a i
{
    color:white;
    padding:0.6rem 1rem;
    border:1px solid crimson;
    border-radius:80%;
    margin-right:1.3rem;
    background-color:var(--icon-color);
}
footer div a i:hover
{
    color:white;
    background-color:red;
    transition:color,background-color;
    transition-duration:0.6s;
}
#menu-icon,.menu
{
    display:none;
}
@media(min-width:320px) and (max-width:480px){
    nav,nav.sticky,#button
    {
        display:none;
    }
    #menu-icon
    {
        display:block;
        position: absolute;
        top:20%;
        margin-top:2rem;
        right:10%;
        color:var(--text-color);
        font-size:2rem;
    }
    .menu-sticky
    {
        position:fixed;
        top:0;
        background-color:black;
        width:100vw;
        padding-top:1rem;
        z-index:100;
        animation:sticky-opacity 0.3s ease-in-out forwards;
        -webkit-animation:sticky-opacity 0.3s ease-in-out forwards;
    }
    #close-icon
    {
        position: absolute;
        top:15%;
        right:15%;
        color:var(--text-color);
        font-size:2rem;
    }
    .menu
    {
        z-index:1000000;
        position:fixed;
        top:0;
        width:100vw;
        height:100vh;
        background-color:black;
        margin-left:-200%;
        display:flex;
        align-items:center;
        justify-content:center;
        /* flex-direction:row; */
        text-align: center;
        line-height:4rem;
        opacity:0.93;
    }
    .menu ul
    {
        padding:0;
    }
    .menu ul li
    {
        list-style-type:none;
    }
    .menu ul li a
    {
        text-decoration:none;
        text-transform:uppercase;
        color:var(--text-color);
        letter-spacing:0.1em;
        font-size:1.4rem;
    }
    .menu ul li span
    {
        color:var(--text-color);
        position: absolute;
        bottom:2%;
        left:25%;
        width:50%;
        margin:auto;
        line-height:1.5rem;
        letter-spacing:0.1em;
        font-style:oblique;
        text-transform:uppercase;
    }
    #logo
    {
        width: 90px;
        height:90px;
        margin-left:0.1rem;
    }
    .locations
    {
        display:grid;
        grid-template-columns:1fr;
        height:300vh;
    }
    .location
    {
        margin-left:0.3rem;
        /* height:60vh; */
    }
    #logo:hover
    {
        transform:rotate(0deg);
    }
    footer
    {
        position: relative;
    }
    footer div a i.fa
    {
        font-size:1.7rem;
        margin-bottom:0.5rem;
        /* display:block; */
        border-radius:90%;
        padding:0.5rem 0.8rem;
        margin-right:0.3rem;
    }
    footer div
    {
        margin-right:0.1rem;
        float:none;
        text-align:center;
    }
    footer div a
    {
        text-decoration:none;
    }
    footer div a i:hover
    {
        background-color:var(--icon-color);
    }
    footer p
    {
        font-size:1rem;
        display:block;
        float:none;
        text-align:center;
    }
}
@media(min-width:100px) and (max-width:300px){
    nav,nav.sticky,#button
    {
        display:none;
    }
    #menu-icon
    {
        display:block;
        position: absolute;
        top:20%;
        margin-top:2rem;
        right:10%;
        color:var(--text-color);
        font-size:2rem;
    }
    .menu-sticky
    {
        position:fixed;
        top:0;
        background-color:black;
        width:100vw;
        padding-top:1rem;
        z-index:100;
        animation:sticky-opacity 0.3s ease-in-out forwards;
        -webkit-animation:sticky-opacity 0.3s ease-in-out forwards;
    }
    #close-icon
    {
        position: absolute;
        top:15%;
        right:15%;
        color:var(--text-color);
        font-size:2rem;
    }
    .menu
    {
        z-index:1000000;
        position:fixed;
        top:0;
        width:100vw;
        height:100vh;
        background-color:black;
        margin-left:-200%;
        display:flex;
        align-items:center;
        justify-content:center;
        /* flex-direction:row; */
        text-align: center;
        line-height:4rem;
        opacity:0.93;
    }
    .menu ul
    {
        padding:0;
    }
    .menu ul li
    {
        list-style-type:none;
    }
    .menu ul li a
    {
        text-decoration:none;
        text-transform:uppercase;
        color:var(--text-color);
        letter-spacing:0.1em;
        font-size:1.4rem;
    }
    .menu ul li span
    {
        color:var(--text-color);
        position: absolute;
        bottom:2%;
        left:25%;
        width:50%;
        margin:auto;
        line-height:1.5rem;
        letter-spacing:0.1em;
        font-style:oblique;
        text-transform:uppercase;
    }
    #logo
    {
        width: 90px;
        height:90px;
        margin-left:0.1rem;
    }
    .locations
    {
        display:grid;
        grid-template-columns:1fr;
        height:300vh;
    }
    .location
    {
        margin-left:0.3rem;
        /* height:60vh; */
    }
    #logo:hover
    {
        transform:rotate(0deg);
    }
    footer
    {
        position: relative;
    }
    footer div a i.fa
    {
        font-size:1.7rem;
        margin-bottom:0.5rem;
        /* display:block; */
        border-radius:90%;
        padding:0.5rem 0.8rem;
        margin-right:0.3rem;
    }
    footer div
    {
        margin-right:0.1rem;
        float:none;
        text-align:center;
    }
    footer div a
    {
        text-decoration:none;
    }
    footer div a i:hover
    {
        background-color:var(--icon-color);
    }
    footer p
    {
        font-size:1rem;
        display:block;
        float:none;
        text-align:center;
    }

}
@media(min-width:481px) and (max-width:767px){
    nav,nav.sticky,#button
    {
        display:none;
    }
    #menu-icon
    {
        display:block;
        position: absolute;
        top:20%;
        margin-top:2rem;
        right:10%;
        color:var(--text-color);
        font-size:2rem;
    }
    .menu-sticky
    {
        position:fixed;
        top:0;
        background-color:black;
        width:100vw;
        padding-top:1rem;
        z-index:100;
        animation:sticky-opacity 0.3s ease-in-out forwards;
        -webkit-animation:sticky-opacity 0.3s ease-in-out forwards;
    }
    #close-icon
    {
        position: absolute;
        top:15%;
        right:15%;
        color:var(--text-color);
        font-size:2rem;
    }
    .menu
    {
        z-index:1000000;
        position:fixed;
        top:0;
        width:100vw;
        height:100vh;
        background-color:black;
        margin-left:-200%;
        display:flex;
        align-items:center;
        justify-content:center;
        /* flex-direction:row; */
        text-align: center;
        line-height:4rem;
        opacity:0.93;
    }
    .menu ul
    {
        padding:0;
    }
    .menu ul li
    {
        list-style-type:none;
    }
    .menu ul li a
    {
        text-decoration:none;
        text-transform:uppercase;
        color:var(--text-color);
        letter-spacing:0.1em;
        font-size:1.4rem;
    }
    .menu ul li span
    {
        color:var(--text-color);
        position: absolute;
        bottom:2%;
        left:25%;
        width:50%;
        margin:auto;
        line-height:1.5rem;
        letter-spacing:0.1em;
        font-style:oblique;
        text-transform:uppercase;
    }
    #logo
    {
        width: 90px;
        height:90px;
        margin-left:0.1rem;
    }
    .locations
    {
        display:grid;
        grid-template-columns:repeat(2,1fr);
        height:400vh;
    }
    .location
    {
        margin-left:0.3rem;
        /* height:100vh; */
    }
    #logo:hover
    {
        transform:rotate(0deg);
    }
    footer
    {
        position: relative;
    }
    footer div a i.fa
    {
        font-size:1.7rem;
        margin-bottom:0.5rem;
        /* display:block; */
        border-radius:90%;
        padding:0.5rem 0.8rem;
        margin-right:0.3rem;
    }
    footer div
    {
        margin-right:0.1rem;
        float:none;
        text-align:center;
    }
    footer div a
    {
        text-decoration:none;
    }
    footer div a i:hover
    {
        background-color:var(--icon-color);
    }
    footer p
    {
        font-size:1rem;
        display:block;
        float:none;
        text-align:center;
    }

}
@media(min-width:768px) and (max-width:1026px) and (orientation:portrait){
    nav,nav.sticky,#button
    {
        display:none;
    }
    #menu-icon
    {
        display:block;
        position: absolute;
        top:20%;
        margin-top:2.5rem;
        right:10%;
        color:var(--text-color);
        font-size:2rem;
    }
    .menu-sticky
    {
        position:fixed;
        top:0;
        background-color:black;
        width:100vw;
        padding-top:1rem;
        z-index:100;
        animation:sticky-opacity 0.3s ease-in-out forwards;
        -webkit-animation:sticky-opacity 0.3s ease-in-out forwards;
    }
    #close-icon
    {
        position: absolute;
        top:15%;
        right:15%;
        color:var(--text-color);
        font-size:2.5rem;
    }
    .menu
    {
        z-index:1000000;
        position:fixed;
        top:0;
        width:100vw;
        height:100vh;
        background-color:black;
        margin-left:-200%;
        display:flex;
        align-items:center;
        justify-content:center;
        /* flex-direction:row; */
        text-align: center;
        line-height:4rem;
        opacity:0.93;
    }
    .menu ul
    {
        padding:0;
    }
    .menu ul li
    {
        list-style-type:none;
    }
    .menu ul li a
    {
        text-decoration:none;
        text-transform:uppercase;
        color:var(--text-color);
        letter-spacing:0.1em;
        font-size:2.2rem;
    }
    .menu ul li span
    {
        color:var(--text-color);
        position: absolute;
        bottom:2%;
        left:0;
        width:100%;
        margin:auto;
        line-height:1.5rem;
        letter-spacing:0.1em;
        font-style:oblique;
        text-transform:uppercase;
        font-size:2rem;
    }
    #logo
    {
        width: 150px;
        height:150px;
        margin-left:0.1rem;
    }
    .locations
    {
        display:grid;
        grid-template-columns:repeat(2,1fr);
        height:150vh;
    }
    .location
    {
        margin-left:0.3rem;
        /* height:100vh; */
    }
    .location h2
    {
        font-size:2.2rem
    }
    .location h3
    {
        font-size:2rem;
    }
    .branch-details
    {
        font-size:1.5rem
    }
    #logo:hover
    {
        transform:rotate(0deg);
    }
    footer
    {
        position: relative;
    }
    footer div a i.fa
    {
        font-size:1.7rem;
        margin-bottom:0.5rem;
        /* display:block; */
        border-radius:90%;
        padding:0.5rem 0.8rem;
        margin-right:0.3rem;
    }
    footer div
    {
        margin-right:0.1rem;
        float:none;
        text-align:center;
    }
    footer div a
    {
        text-decoration:none;
    }
    footer div a i:hover
    {
        background-color:var(--icon-color);
    }
    footer p
    {
        font-size:2rem;
        display:block;
        float:none;
        text-align:center;
    }

}
@media(min-width:768px) and (max-width:1012px) and (orientation:landscape){
    nav,nav.sticky,#button
    {
        display:none;
    }
    #menu-icon
    {
        display:block;
        position: absolute;
        top:20%;
        margin-top:2rem;
        right:10%;
        color:var(--text-color);
        font-size:2rem;
    }
    .menu-sticky
    {
        position:fixed;
        top:0;
        background-color:black;
        width:100vw;
        padding-top:1rem;
        z-index:100;
        animation:sticky-opacity 0.3s ease-in-out forwards;
        -webkit-animation:sticky-opacity 0.3s ease-in-out forwards;
    }
    #close-icon
    {
        position: absolute;
        top:15%;
        right:15%;
        color:var(--text-color);
        font-size:2rem;
    }
    .menu
    {
        z-index:1000000;
        position:fixed;
        top:0;
        width:100vw;
        height:100vh;
        background-color:black;
        margin-left:-200%;
        display:flex;
        align-items:center;
        justify-content:center;
        /* flex-direction:row; */
        text-align: center;
        line-height:4rem;
        opacity:0.93;
    }
    .menu ul
    {
        padding:0;
    }
    .menu ul li
    {
        list-style-type:none;
    }
    .menu ul li a
    {
        text-decoration:none;
        text-transform:uppercase;
        color:var(--text-color);
        letter-spacing:0.1em;
        font-size:1.4rem;
    }
    .menu ul li span
    {
        color:var(--text-color);
        position: absolute;
        bottom:2%;
        left:25%;
        width:50%;
        margin:auto;
        line-height:1.5rem;
        letter-spacing:0.1em;
        font-style:oblique;
        text-transform:uppercase;
    }
    #logo
    {
        width: 90px;
        height:90px;
        margin-left:0.1rem;
    }
    .locations
    {
        display:grid;
        grid-template-columns:repeat(2,1fr);
        height:400vh;
    }
    .location
    {
        margin-left:0.3rem;
        /* height:100vh; */
    }
    #logo:hover
    {
        transform:rotate(0deg);
    }
    footer
    {
        position: relative;
    }
    footer div a i.fa
    {
        font-size:1.7rem;
        margin-bottom:0.5rem;
        /* display:block; */
        border-radius:90%;
        padding:0.5rem 0.8rem;
        margin-right:0.3rem;
    }
    footer div
    {
        margin-right:0.1rem;
        float:none;
        text-align:center;
    }
    footer div a
    {
        text-decoration:none;
    }
    footer div a i:hover
    {
        background-color:var(--icon-color);
    }
    footer p
    {
        font-size:1rem;
        display:block;
        float:none;
        text-align:center;
    }
}

@keyframes sticky-opacity
{
    from
    {
        opacity:0;
    }
    to
    {
        opacity:1;
    }
}
@-webkit-keyframes sticky-opacity
{
    from
    {
        opacity:0;
    }
    to
    {
        opacity:1;
    }
}
